@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
body {
    font-family: 'Open Sans', sans-serif !important;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100%;
    -webkit-flex-direction: column;
}

.nav {
    height: 45px;
}

.bold {
    font-weight: bold !important;
}

.panel {
    overflow: auto;
    flex: auto;
    margin-bottom: 0px;
    flex-flow: column;
    padding: 0.25rem;
    width: 100%;
}

.channelmsg{
    height: 48px;
}

.message {
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}

.columns > .row {
    max-width: 100%;
}

.tab-bar-section.left {
    padding-left: 2.8rem;
    width: 200px;
}

.tab-bar-section.right {
    padding-right: 2.8rem;
    width: 200px;
    left: auto !important;
    margin-left: 5rem;
}

.large-12.columns {
    padding: 0px;
    margin: 0px;
}

.button {
    padding: 0px !important;
}

.button.success, .button.secondary {
    padding: 0.5rem 2rem 0.5625rem 2rem !important;
}

.button-group {
    margin: auto;
}

.half-width {
    width: 50% !important;
}

.right-small, .left-small {
    border: 0px;
}

.left-off-canvas-toggle {
    display: none !important;
}

.nomargin {
    margin: 0 !important;
}

#loadmore {
    text-align: center;
    width: 200px;
    margin: 0 auto;
    padding: 0.25rem 1rem 0.25rem 1rem !important;
    margin-bottom: 0px;
    display: block;
}

.alert-box.secondary {
    padding: 0.5rem;
}

.off-canvas-list {
    height: 100vh;
    overflow: auto;
    background-color: #333;
}

paper-tabs {
    background-color: #333;
    color: #fff;
}

.channel {
    color: #fff !important;
    font-size: 16px !important;
}

paper-tabs.transparent-teal::shadow #selectionBar {
    background-color: #00bcd4;
}

.floatright {
    float: right;
}

paper-icon-button {
    color: #fff;
}

.messages {
    list-style: none;
    margin: 0px;
}

.message {
    color: #000 !important;
    font-size: 14px;
}

.inline {
    display: inline-block;
}

paper-button  .button-content {
    margin: 0;
    padding: 0;
}


paper-tabs {
    display: none !important;
}


paper-dialog {
    padding-left: 24px;
    padding-right: 24px;
    min-width: 300px;
}

paper-toast {
    background-color: #444;
}

paper-menu-button {
    padding: 8px;
}

paper-icon-button {
    padding: 0px;
}

paper-material {
    max-width: 400px;
    overflow: auto;
}

paper-item .bold {
    background-color: #CCCCCC;
}

.dropdown-content-li {
    float: none !important;
    max-width: 400px;

}

.notifications {
    width: 300px;
}

#imageit-wrapper {
    max-width: 500px;
    width: 100%;
    height: 400px;
    color: white;
    background-color:#111;
    font-family:sans-serif;
}

#imageitModal {
    background-color:#111 !important;
}

#paste {
    min-height:100px;
    width:100%;
    background-color:#222;
    border:1px dashed #333;
}

.self {
    color: #444 !important;
}

.highlight {
    color: #aa0000 !important;
    font-weight: bold;
}

/** button CSS **/

.haeck.primary {
    background-color: #333;
}

.haeck.success {
    background-color: #368A55;
}

.haeck.secondary {
    background-color: #333;
    color: #fff;
}

.haeck.primary, .haeck.secondary {
    margin: 0.1em 0px;
    padding: 0px 1em;
}
.haeck:hover, .haeck:focus {
    background-image: linear-gradient(rgba(255, 255, 255, 0.15) 49%, rgba(0, 0, 0, 0.1) 51%, rgba(0, 0, 0, 0.15));
}
body .haeck {
    margin: 8px 4px;
    font-size: 13px;
}
.haeck, a.haeck {
    border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.4);
    color: #FFF;
    box-shadow: 0px 0.08em 0px rgba(255, 255, 255, 0.4) inset, 0px 0px 0.1em rgba(255, 255, 255, 0.9) inset;
    cursor: pointer;
    display: inline-block;
    font: bold 100%/2.1 "Lucida Grande",Tahoma,sans-serif;
    padding: 0px 0.95em 0px 0px;
    text-align: center;
    text-decoration: none;
    -moz-user-select: none;
    position: relative;
    z-index: 100;
    border-radius: 0.3em;
    height: 2.3125rem;
}

.haeck {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05) 49%, rgba(0, 0, 0, 0.05) 51%, rgba(0, 0, 0, 0.1));
}

.haeck.tiny {
    height: 1.75rem;
    font-size: 0.75em;
}

@media only screen and (min-width: 150px) and (max-width: 650px){
    .top-bar-section ul {
        width: auto;
        height: auto !important;
        display: inline !important;
    }

    .nav {
        height: 93px;
    }

    paper-tabs {
        display: flex !important;
    }

    .top-bar-section li:not(.has-form) a:not(.button) {
        padding: 0 15px;
        line-height: 45px;
        background: #333333;
    }

    .left-off-canvas-toggle {
        display: block !important;
    }
}

@media only screen and (min-width: 150px) and (max-width: 400px) {
    .tab-bar-section.middle {
        display: none;
    }
}
