@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,500);
body {
    font-family: Roboto, sans-serif !important;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100%;
    -webkit-flex-direction: column;
}

.nav {
    height: 45px;
}

.bold {
    font-weight: bold !important;
}

.panel {
    overflow: auto;
    flex: auto;
    margin-bottom: 0px;
    flex-flow: column;
    padding: 0.25rem;
    max-width: 100%;
}

.channelmsg{
    height: 48px;
}

.message {
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}

.columns > .row {
    max-width: 100%;
}

.tab-bar-section.left {
    padding-left: 2.8rem;
    width: 200px;
}

.tab-bar-section.right {
    padding-right: 2.8rem;
    width: 200px;
    left: auto !important;
    margin-left: 5rem;
}

.large-12.columns {
    padding: 0px;
    margin: 0px;
}

.button {
    padding: 0px !important;
}

.button.success, .button.secondary {
    padding: 0.5rem 2rem 0.5625rem 2rem !important;
}

.button-group {
    margin: auto;
}

.half-width {
    width: 50% !important;
}

.right-small, .left-small {
    border: 0px;
}

.left-off-canvas-toggle {
    display: none !important;
}

.nomargin {
    margin: 0 !important;
}

#loadmore {
    text-align: center;
    width: 200px;
    margin: 0 auto;
    padding: 0.25rem 1rem 0.25rem 1rem !important;
    margin-bottom: 0px;
    display: block;
}

.alert-box.secondary {
    padding: 0.5rem;
}

.off-canvas-list {
    height: 100vh;
    overflow: auto;
    background-color: #333;
}

paper-tabs {
    background-color: #333;
    color: #fff;
}

.channel {
    color: #fff !important;
}

paper-tabs.transparent-teal::shadow #selectionBar {
    background-color: #00bcd4;
}

.floatright {
    float: right;
}

core-icon-button {
    color: #fff;
}

.messages {
    list-style: none;
    margin: 0px;
}

.inline {
    display: inline-block;
}

paper-button  .button-content{
    margin: 0;
    padding: 0;
}


paper-tabs {
    display: none !important;
}


@media only screen and (min-width: 150px) and (max-width: 650px){
    .top-bar-section ul {
        width: auto;
        height: auto !important;
        display: inline !important;
    }

    .nav {
        height: 93px;
    }

    paper-tabs {
        display: inline !important;
    }

    .top-bar-section li:not(.has-form) a:not(.button) {
        padding: 0 15px;
        line-height: 45px;
        background: #333333;
    }

    .left-off-canvas-toggle {
        display: block !important;
    }
}

@media only screen and (min-width: 150px) and (max-width: 400px) {
    .tab-bar-section.middle {
        display: none;
    }
}
